.venv/*
.venv
*.db
scripts/*.sh
data/*
models/*
.claude/*
__pycache__/*
*.pyc
*.tar.gz
test_results/*
zips/*
*.out
*.err
bart_simpson/*
*.7z
.env
*.tif
experiments/*
scripts/slurm_array_job_generated.sh
logs/*
results/*
extracted_results/*
client_secrets.json
credentials.json
climate_analysis_plots/*
climate_analysis_results/*
*.csv
experiments_old/*
__MACOSX/*
viz/*
results/*
*.tar.gz

