RANDOM_SEED=15
NUM_CHANNELS=10

VERSION="1.3"
DATASET_ROOT="/your/dataset/root"
CACHE_DIR="/your/cache/dir"
RPG_MASK_SUBDIR="rpg_masks_unbuffered"

TRAIN_FOLDS="[0,1,2]"
VALID_FOLDS="[3]"
TEST_FOLDS="[4]"

NUM_TILEGROUPS=5

MODELS_DIR="/your/models/dir"