geopandas
GitPython
matplotlib
numpy
pandas
Pillow
ultralytics
python-dotenv
rasterio
rioxarray
scikit_learn
seaborn
Shapely
optuna
torch
torchmetrics
torchvision
scikit-learn
xgboost
webdataset
debugpy
